<div class="form-horizontal">
    <h3>Create a new Endereco</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Enderecos/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Enderecos</h3>
    <form id="EnderecoSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="pessoa" class="col-sm-2 control-label">Pessoa</label>
        <div class="col-sm-10">
            <select id="pessoa" name="pessoa" class="form-control" ng-model="search.pessoa" ng-options="p as p.nome for p in pessoaList">
                <option value="">Choose a Pessoa</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="tipo" class="col-sm-2 control-label">Tipo</label>
        <div class="col-sm-10">
            <select id="tipo" name="tipo" class="form-control" ng-model="search.tipo" ng-options="t as t for t in tipoList">
                <option value="">Choose a Tipo</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
        <div class="col-sm-10">
            <input id="logradouro" name="logradouro" class="form-control" type="text" ng-model="search.logradouro" placeholder="Enter the Endereco Logradouro"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="numero" class="col-sm-2 control-label">Numero</label>
        <div class="col-sm-10">
            <input id="numero" name="numero" class="form-control" type="text" ng-model="search.numero" placeholder="Enter the Endereco Numero"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="complemento" class="col-sm-2 control-label">Complemento</label>
        <div class="col-sm-10">
            <input id="complemento" name="complemento" class="form-control" type="text" ng-model="search.complemento" placeholder="Enter the Endereco Complemento"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="bairro" class="col-sm-2 control-label">Bairro</label>
        <div class="col-sm-10">
            <input id="bairro" name="bairro" class="form-control" type="text" ng-model="search.bairro" placeholder="Enter the Endereco Bairro"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="cidade" class="col-sm-2 control-label">Cidade</label>
        <div class="col-sm-10">
            <input id="cidade" name="cidade" class="form-control" type="text" ng-model="search.cidade" placeholder="Enter the Endereco Cidade"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="estado" class="col-sm-2 control-label">Estado</label>
        <div class="col-sm-10">
            <select id="estado" name="estado" class="form-control" ng-model="search.estado" ng-options="e as e for e in estadoList">
                <option value="">Choose a Estado</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="cep" class="col-sm-2 control-label">Cep</label>
        <div class="col-sm-10">
            <input id="cep" name="cep" class="form-control" type="text" ng-model="search.cep" placeholder="Enter the Endereco Cep"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Pessoa</th>
                    <th>Tipo</th>
                    <th>Logradouro</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Cep</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/Enderecos/edit/{{result.id}}">{{result.pessoa.nome}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.tipo}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.logradouro}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.numero}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.complemento}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.bairro}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.cidade}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.estado}}</a></td>
                    <td><a href="#/Enderecos/edit/{{result.id}}">{{result.cep}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>