<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/livraria-wsclient/src/br/com/caelum/livraria/webservice/TesteRequestSoapComJava.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.caelum.livraria.webservice.TesteRequestSoapComJava"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="livraria-wsclient"/>
</launchConfiguration>
