<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/crud-jpa-hibernate/src/com/algaworks/curso/main/ConsultandoPrimeiroObjeto.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.algaworks.curso.main.ConsultandoPrimeiroObjeto"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crud-jpa-hibernate"/>
</launchConfiguration>
